<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  accept="image/*"
  #fileUploadInput
/>

<div
  class="file-upload"
  (dragover)="
    $event.preventDefault(); fileUploadContainer.classList.add('dragover')
  "
  (dragleave)="
    $event.preventDefault(); fileUploadContainer.classList.remove('dragover')
  "
  (drop)="onFileDrop($event)"
  #fileUploadContainer
>
  @if (selectedFile()) {
    <div class="file-upload-image-container">
      <img
        [src]="selectedFile()"
        alt="Selected file preview"
        class="file-upload-image"
      />
      <button
        class="file-upload-clear-image-button"
        (click)="clearSelectedFile()"
      >
        X
      </button>
    </div>
  } @else {
    <span class="file-upload-text">Drag and drop image here</span>
    <span class="file-upload-text">Or</span>
    <button class="file-upload-btn" (click)="fileUploadInput.click()">
      Select file
    </button>
  }
</div>
