.file-input {
  display: none;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  border: 1px dashed #ccc;
  border-radius: 16px;

  &.dragover {
    border-color: #007bff;
    background-color: #f0f8ff;
  }
}

.file-upload-text {
  display: inline-block;

  &:nth-child(2) {
    margin-block: 8px;
  }
}

.file-upload-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.file-upload-image-container {
  height: 80%;
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-clear-image-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
