<main class="grid lg:grid-cols-[500px_2fr] gap-12">
  <form class="py-4 flex flex-col" [formGroup]="visualizerForm">
    <label for="upload-file" class="mb-2 font-semibold">Upload image</label>
    <app-file-upload
      [formInput]="visualizerForm.controls.image"
    ></app-file-upload>

    <label for="room-type" class="mt-6 mb-2 font-semibold">Room type</label>
    <select
      class="select select-md w-full"
      [class.select-error]="
        visualizerForm.controls.roomType.value === null &&
        visualizerForm.controls.roomType.touched
      "
      id="room-type"
      formControlName="roomType"
    >
      <option disabled selected [value]="null">Select room type</option>
      @for (roomType of ROOM_TYPES; track $index) {
        <option>{{ roomType.label }}</option>
      }
    </select>

    <label for="room-style" class="mt-6 mb-2 font-semibold">Room style</label>
    <select
      class="select select-md w-full"
      id="room-style"
      formControlName="styleType"
    >
      <option disabled selected [value]="null">Select room style</option>
      @for (styleType of STYLE_TYPES; track $index) {
        <option>{{ styleType.label }}</option>
      }
    </select>

    <label for="lighting-condition" class="mt-6 mb-2 font-semibold">
      Lighting conditions
    </label>
    @for (lightingCondition of LIGHTING_CONDITIONS; track $index) {
      <label [for]="lightingCondition.value">
        <input
          type="radio"
          id="{{ lightingCondition.value }}"
          class="radio mr-2 mb-1"
          formControlName="lightingCondition"
          value="{{ lightingCondition.value }}"
        />
        {{ lightingCondition.label }} -
        <small class="text-xs italic">
          {{ lightingCondition.description }}
        </small>
      </label>
    }

    @if (uploadImageState() === "invalid") {
      <span class="text-red-500 -mb-8 mt-4 text-xs font-bold">
        Please fill in all required fields before visualizing your room.
      </span>
    }
    @if (uploadImageState() === "error") {
      <span class="text-red-500 -mb-8 mt-4 text-xs font-bold">
        {{
          uploadImageErrorMessage() ?? "Error uploading file. Please try again."
        }}
      </span>
    }
    @if (numberOfImagesToGenerate() === 0) {
      <span class="text-red-500 -mb-8 mt-4 text-xs font-bold">
        You have reached the maximum number of images you can generate.
      </span>
    }

    <button
      class="btn mt-8 lg:mt-12"
      (click)="uploadImage()"
      [disabled]="
        uploadImageState() === 'loading' || numberOfImagesToGenerate() === 0
      "
    >
      @if (uploadImageState() === "loading") {
        <span class="loading loading-spinner"></span>
      } @else {
        Visualize
      }
    </button>

    @if (numberOfImagesToGenerate() !== null) {
      <span class="text-gray-500 text-md mt-2">
        {{ numberOfImagesToGenerate() }}
        {{ numberOfImagesToGenerate() === 1 ? "image" : "images" }} remaining
      </span>
    }
  </form>
  <div
    class="mb-8 lg:mt-12 gap-6 grid auto-rows-max grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3"
  >
    @if (generatedImageState() === "loading") {
      <div class="col-span-full flex items-center justify-center mt-4">
        <span class="loading loading-spinner text-primary"></span>
      </div>
    }
    @if (generatedImageState() === "error") {
      <div class="col-span-full">
        <span class="text-red-500">
          An error occurred while generating images. Please try again or contact
          support if the issue persists.
        </span>
      </div>
    }
    @if (generatedImageState() === "idle" && displayedImages().length === 0) {
      <div class="col-span-full">
        <span class="text-gray-500">
          No images to display. Please upload an image and visualize your room.
        </span>
      </div>
    }

    @for (image of displayedImages(); track $index) {
      <img
        [src]="image.generatedImageUrl"
        loading="lazy"
        alt="Generated design for {{ image.roomType }} in {{
          image.styleType
        }} style with {{ image.lightingCondition }} lighting"
        class="object-contain rounded-lg cursor-pointer"
        (click)="imageModal.showModal(); selectedImage.set(image)"
        (keydown)="imageModal.showModal(); selectedImage.set(image)"
      />
    }
  </div>
</main>

<app-image-dialog
  [selectedImage]="selectedImage()"
  (deletedImage)="onImageDelete($event)"
  #imageModal
></app-image-dialog>
