.visualizer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.visualizer-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.visualizer-output {
  padding: 3.5rem 2rem 2rem;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.visualizer-image {
  max-height: 80vh;
  border-radius: 8px;
}
