<main class="grid grid-cols-2 gap-4">
  <div class="flex flex-col gap-4 p-4">
    <span>Upload image</span>
    <app-file-upload (fileChange)="selectedFile.set($event)"></app-file-upload>
    <span>Style</span>
    <button
      class="btn"
      (click)="uploadFile()"
      [disabled]="state() === 'loading' || !selectedFile()"
    >
      @if (state() === "error") {
        <span class="text-red-500">
          Error uploading file. Please try again.
        </span>
      } @else if (state() === "idle") {
        Visualize
      } @else {
        <span class="loading loading-spinner"></span>
      }
    </button>
  </div>
  <div
    class="mx-8 mb-8 mt-14 gap-4 grid auto-rows-max grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3"
  >
    @for (image of createdImages(); track $index) {
      <img [src]="image" alt="" class="object-contain rounded-lg" />
    }
  </div>
</main>
