@import "tailwindcss";
@plugin "daisyui" {
  themes:
    nord --default,
    abyss --prefersdark,
    cupcake,
    dracula;
  root: ":root";
  logs: true;
}

/*
  CUSTOM GLOBAL STYLES
*/

a {
  text-decoration: inherit;
}

main {
  min-height: calc(100vh - 52px);
  padding: 1rem;
}
